.container {
  text-align: center;
  margin-top: 50px;
}

.fileInput {
  margin-top: 20px;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.fileInput:hover {
  background-color: #f0f0f0;
  color: black;
}

.header {
  font-size: 3rem;
  margin-bottom: 20px;
}

.tabBar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tabButton {
  padding: 10px 20px;
  margin: 0 10px;
  background-color: #1db954;
  color: white;
  text-decoration: none;
  border-radius: 20px;
  transition: background-color 0.3s ease;
}

.tabButton:hover {
  background-color: #1ed760;
}

.select {
  margin: 20px;
  padding: 10px;
  font-size: 16px;
}

.logoutButton {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #d9534f;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.logoutButton:hover {
  background-color: #c9302c;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}
